<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{ 'EVENTS.TITLE' | translate }}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openFilter()">
                <ion-icon name="filter-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- Filter hidden view -->
<ion-menu side="end" menuId="first" contentId="main">
    <ion-header>
        <ion-toolbar>
            <ion-title>{{ 'EVENTS.FILTER' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item *ngFor="let filter of filters">
                <ion-label>{{ filter.label }}</ion-label>
                <ion-checkbox [(ngModel)]="filter.value" (ionChange)="updateArgs()"></ion-checkbox>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" id="main">

    <ion-fab horizontal="end" vertical="bottom" slot="fixed" edge>
        <ion-fab-button [routerLink]="'create-event'">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <!-- Event part -->
    <ion-grid class="padding0">
        <ion-row>
            <ion-col class="padding0">
                <ion-list *ngIf="events.length > 0">
                    <ion-item *ngFor="let event of events | eventFilter: filterArgs">
                        <!-- List of the events here -->
                        <ion-col>
                            <ion-row [ngSwitch]="this.event.type.name">
                                <ion-col *ngSwitchCase="'Promenade'" id="balade-banner">
                                </ion-col>
                                <ion-col *ngSwitchCase="'Randonnée'" id="rando-banner">
                                </ion-col>
                                <ion-col *ngSwitchCase="'Rencontre pour jouer'" id="jouer-banner">
                                </ion-col>
                                <ion-col *ngSwitchCase="'Concours amical'" id="concours-banner">
                                </ion-col>
                                <ion-col *ngSwitchCase="'Pique nique'" id="picnic-banner">
                                </ion-col>
                                <ion-col *ngSwitchCase="'Sortie en mer'" id="plage-banner">
                                </ion-col>
                                <ion-col *ngSwitchDefault id="default-banner">
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="event-name">
                                    {{ event.name }}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12">
                                    <ion-icon name="paw-outline"></ion-icon>
                                    {{ 'EVENT_TYPE.' + event.type.name | translate }}
                                </ion-col>
                                <ion-col size="12">
                                    <ion-icon name="location-outline"></ion-icon>
                                    {{ event.location }}
                                </ion-col>
                                <ion-col size="12">
                                    <ion-icon name="calendar-outline"></ion-icon>
                                    {{ event.date | date: 'dd/MM/yyyy - HH:mm' }}
                                </ion-col>
                            </ion-row>
                            <ion-button [routerLink]="'event/'+ event.id" fill="clear" size="small">
                                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                                {{ 'EVENTS.MORE_DETAILS' | translate }}
                            </ion-button>
                        </ion-col>
                        <!-- List of the events here -->
                    </ion-item>
                </ion-list>
                <ion-list *ngIf="events.length == 0">
                    <ion-item>
                        {{ 'EVENTS.ANY_EVENT' | translate }}
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- End event part -->
</ion-content>
