
ion-icon {
  margin-left: 8px;
  margin-right: 8px;
}

.event-name {
  font-size: 18px;
}

ion-item {
  --background: #FBF2E5;
}

ion-item * {
  color: #D39841 !important;
}

ion-content * {
  color: #D39841;
}

ion-fab-button * {
  color: #72480F;
}