<ion-header mode="ios">
  <ion-toolbar>
    <div style=float:left;>
      <ion-back-button mode="md"></ion-back-button>
    </div>
    <ion-title>Profil</ion-title>
    <div style=float:right;>
      <ion-button fill="clear"> <!-- routerLink="edit-profil"> -->
        <ion-icon name="pencil-outline" slot="end"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3> 
     Jean MARTIN
    <!--{{ user.firstname }}
    {{ user.lastname | uppercase }}-->
  </h3>
  <p>
    jm78dog 
    <!--{{ user.pseudo }} -->
  </p>
  <ion-segment [(ngModel)]="segment">
    
    <ion-segment-button value="information">
      Information
    </ion-segment-button>
    <ion-segment-button value="animal">
      Animaux
    </ion-segment-button>
  </ion-segment>


  <div [ngSwitch]="segment">

    <ion-card *ngSwitchCase="'information'">
      <ion-list>
        <ion-item>
          <ion-icon mode="md" name="at" color="medium"></ion-icon>
          <ion-label> jean.martin78@gmail.com  <!--{{ user.mail | lowercase }} --> </ion-label>
        </ion-item>
    
        <ion-item>
          <ion-icon mode="md" name="call" color="medium"></ion-icon>
          <ion-label> 06 12 23 45 56 <!--{{ user.phone }} --> </ion-label>
        </ion-item>
    
        <ion-item>
          <ion-icon mode="md" name="notifications" color="medium"></ion-icon>
          <ion-label> Notifications
            <p> active <!--{{ user.push_notification ? oui : non }} --> </p>
          </ion-label>
        </ion-item>
    
        <ion-item>
          <ion-icon mode="md" name="notifications" color="medium"></ion-icon>
          <ion-label> Géolocalisation
            <p> active <!-- {{ user.active_localisation ? oui : non }} --> </p>
          </ion-label>
        </ion-item>
    
        <ion-item>
          <ion-icon mode="md" name="at" color="medium"></ion-icon>
          <ion-label> 01/04/1991 <!-- {{ user.birthday }} --> </ion-label>
        </ion-item>
    
        <ion-item>
          <ion-icon mode="md" name="male-female-outline" color="medium"></ion-icon>
          <ion-label> Homme <!--{{ user.gender }} --> </ion-label>
        </ion-item>
      </ion-list> 
    </ion-card>

    <ion-card *ngSwitchCase="'animal'">
      <ion-button mode="md"  fill="clear" size="small" id="cgu-button"> <!-- [routerLink]="'/createAnimal'"-->
        Ajouter un animal
      </ion-button>
    </ion-card>
  </div>
  
</ion-content>
