.banner {
  height: 150px;
  background: url('/assets/images/grumpy.jpg') center;
  background-size: cover;
}

#rando {
  background: url('/assets/images/event-type/rando.jpg') center!important;
}

ion-fab-button {
  margin-bottom: 57px;
}

.parts-list{
  .part-card{
    padding: 10px 0;
    .part-avatar{
      --border-radius: 50%;
    }
  }

}
.join-event{
  position: absolute;
  bottom: 5px;
  Right: 5px;
}
