.parts-list {
  .part-card {
    padding: 10px 0;

    .part-avatar {
      --border-radius: 50%;
    }
  }
}

.join-event {
  position: absolute;
  bottom: 5px;
  Right: 5px;
}

.information-list-title {
  width: 40% !important;
}
