.banner {
    background: url('https://images.ladepeche.fr/api/v1/images/view/5cde8a093e45460aea39d615/large/image.jpg') center no-repeat;
    background-size: cover;
    height: 150px;
    padding: 0px;
}