<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'CGU.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">
    <h1>Conditions générales d'utilisation - Données
      personnelles</h1>

    <h4>Définitions :</h4>
    <div class="sub-content">
      <p>
        L'Éditeur : La personne, physique ou morale, qui édite les services de communication au public en ligne.<br>
        Le Site : L'ensemble des sites, pages Internet et services en ligne proposés par l'Éditeur.<br>
        L'Utilisateur : La personne utilisant le Site et les services.<br>
      </p>
    </div>

    <h4>Nature des données collectées</h4>
    <div class="sub-content">
      <div>
        <p>
          Dans le cadre de l'utilisation des Sites, l'Éditeur est susceptible de collecter les catégories de données
          suivantes concernant ses Utilisateurs :
        </p>
        <ul>
          <li>Données d'état-civil, d'identité, d'identification...</li>
          <li>Données de connexion (adresses IP, journaux d'événements...)
          </li>
          <li>Données de localisation (déplacements, données GPS, GSM...)</li>
        </ul>
      </div>
    </div>

    <h2>Communication des données personnelles à des tiers </h2>
    <h4>Communication aux autorités sur la base des obligations légales</h4>
    <div class="sub-content">
      <p>
        Sur la base des obligations légales, vos données personnelles pourront être divulguées en application d'une loi,
        d'un règlement ou en vertu d'une décision d'une autorité réglementaire ou judiciaire compétente. De manière
        générale, nous nous engageons à nous conformer à toutes les règles légales qui pourraient empêcher, limiter ou
        réglementer la diffusion d’informations ou de données et notamment à se conformer à la Loi n° 78-17 du 6 janvier
        1978 relative à l'informatique, aux fichiers et aux libertés.
      </p>
    </div>

    <h4>Communication à des tiers en fonction des paramètres du compte</h4>
    <div class="sub-content">
      <p>
        Vos données personnelles sont strictement confidentielles et ne peuvent être divulguées à des tiers, sauf en cas
        d’accord exprès obtenu via les paramètres de votre compte.
      </p>
    </div>

    <h4>Communication à des tiers partenaires</h4>
    <div class="sub-content">
      <p>
        Nous pouvons mettre certaines données personnelles à la disposition de partenaires stratégiques travaillant avec
        nous, pour la fourniture de produits et services ou nous aidant à commercialiser nos produits auprès des
        clients.
      </p>
    </div>


    <h4>Communication à des tiers avec restrictions liées aux destinataires</h4>
    <div class="sub-content">
      <p>
        Les données personnelles que vous nous communiquez lors de votre commande sont transmises à nos
        fournisseurs et filiales pour le traitement de celle-ci. Ces informations sont considérées par nos fournisseurs
        et
        filiales comme étant strictement confidentielles.
      </p>
    </div>

    <h4>Communication à des tiers pour marketing direct</h4>
    <div class="sub-content">
      <p>
        Nous pouvons partager des informations avec des partenaires publicitaires afin de vous envoyer des
        communications promotionnelles, ou pour vous montrer plus de contenu sur mesure, y compris de la publicité
        pertinente pour les produits et services susceptibles de vous intéresser, et pour comprendre comment les
        utilisateurs interagissent avec les publicités.

      </p>
    </div>

    <h2>Viralité des conditions de réutilisation des données personnelles</h2>
    <h4>Engagement sur la viralité des conditions</h4>
    <div class="sub-content">
      <p>
        En cas de communication de vos données personnelles à un tiers, ce dernier est tenu d'appliquer des conditions
        de confidentialité identiques à celle du Site.
      </p>
    </div>

    <h2>Information préalable pour la communication des données personnelles à des tiers en cas
      de fusion / absorption</h2>
    <h4>Collecte de l’opt-in (consentement) préalable à la transmission des données suite à une fusion / acquisition
    </h4>
    <div class="sub-content">
      <p>
        Dans le cas où nous prendrions part à une opération de fusion, d’acquisition ou à toute autre forme de cession
        d’actifs, nous nous engageons à obtenir votre consentement préalable à la transmission de vos données
        personnelles et à maintenir le niveau de confidentialité de vos données personnelles auquel vous avez consenti.
      </p>
    </div>

    <h2>Agrégation des données</h2>
    <h4>Agrégation avec des données non personnelles</h4>
    <div class="sub-content">
      <p>
        Nous pouvons publier, divulguer et utiliser les informations agrégées (informations relatives à tous nos
        Utilisateurs
        ou à des groupes ou catégories spécifiques d'Utilisateurs que nous combinons de manière à ce qu'un Utilisateur
        individuel ne puisse plus être identifié ou mentionné) et les informations non personnelles à des fins d'analyse
        du
        secteur et du marché, de profilage démographique, à des fins promotionnelles et publicitaires et à d'autres fins
        commerciales.
      </p>
    </div>

    <h4>Agrégation avec des données personnelles disponibles sur les comptes sociaux de l'Utilisateur</h4>
    <div class="sub-content">
      <p>
        Si vous connectez votre compte à un compte d’un autre service afin de faire des envois croisés, ledit service
        pourra nous communiquer vos informations de profil, de connexion, ainsi que toute autre information dont vous
        avez autorisé la divulgation. Nous pouvons agréger les informations relatives à tous nos autres Utilisateurs,
        groupes, comptes, aux données personnelles disponibles sur l’Utilisateur.
      </p>
    </div>

    <h2>Collecte des données d'identité</h2>
    <h4>Inscription et identification préalable pour la fourniture du service</h4>
    <div class="sub-content">
      <p>
        L’utilisation du Site nécessite une inscription et une identification préalable. Vos données nominatives (nom,
        prénom, adresse postale, e-mail, numéro de téléphone,...) sont utilisées pour exécuter nos obligations légales
        résultant de la livraison des produits et / ou des services, en vertu du Contrat de licence utilisateur final,
        de la
        Limite de garantie, le cas échéant, ou de toute autre condition applicable. Vous ne fournirez pas de fausses
        informations nominatives et ne créerez pas de compte pour une autre personne sans son autorisation. Vos
        coordonnées devront toujours être exactes et à jour.
      </p>
    </div>

    <h2>Collecte des données d'identification</h2>
    <h4>Utilisation de l'identifiant de l'utilisateur pour proposition de mise en relation et offres commerciales</h4>
    <div class="sub-content">
      <p>
        Nous utilisons vos identifiants électroniques pour rechercher des relations présentes par connexion, par adresse
        mail ou par services. Nous pouvons utiliser vos informations de contact pour permettre à d'autres personnes de
        trouver votre compte, notamment via des services tiers et des applications clientes. Vous pouvez télécharger
        votre
        carnet d'adresses afin que nous soyons en mesure de vous aider à trouver des connaissances sur notre réseau ou
        pour permettre à d'autres Utilisateurs de notre réseau de vous trouver. Nous pouvons vous proposer des
        suggestions, à vous et à d'autres Utilisateurs du réseau, à partir des contacts importés de votre carnet
        d’adresses.
        Nous sommes susceptibles de travailler en partenariat avec des sociétés qui proposent des offres incitatives.
        Pour
        prendre en charge ce type de promotion et d'offre incitative, nous sommes susceptibles de partager votre
        identifiant électronique.
      </p>
    </div>

    <h2>Géolocalisation</h2>
    <h4>Géolocalisation à des fins de fourniture du service</h4>
    <div class="sub-content">
      <p>
        Nous collectons et traitons vos données de géolocalisation afin de vous fournir nos services. Nous pouvons être
        amenés à faire usage des données personnelles dans le but de déterminer votre position géographique en temps
        réel. Conformément à votre droit d'opposition prévu par la loi n°78-17 du 6 janvier 1978 relative à
        l'informatique,
        aux fichiers et aux libertés, vous avez la possibilité, à tout moment, de désactiver les fonctions relatives à
        la
        géolocalisation.
      </p>
    </div>

    <h4>Géolocalisation à des fins de croisement</h4>
    <div class="sub-content">
      <p>
        Nous collectons et traitons vos données de géolocalisation afin de permettre à nos services d'identifier les
        points
        de croisement dans le temps et dans l'espace avec d'autres Utilisateurs du service afin de vous présenter le
        profil
        des Utilisateurs croisés. Conformément à votre droit d'opposition prévu par la loi n°78-17 du 6 janvier 1978
        relative à l'informatique, aux fichiers et aux libertés, vous avez la possibilité, à tout moment, de désactiver
        les
        fonctions relatives à la géolocalisation. Vous reconnaissez alors que le service ne sera plus en mesure de vous
        présenter de profil des autres Utilisateurs.
      </p>
    </div>

    <h4>Géolocalisation avec mise à disposition des partenaires pour référencement et agrégation (avec opt-in)</h4>
    <div class="sub-content">
      <p>
        Nous pouvons collecter et traiter vos données de géolocalisation avec nos partenaires. Nous nous engageons à
        anonymiser les données utilisées. Conformément à votre droit d'opposition prévu par la loi n°78-17 du 6 janvier
        1978 relative à l'informatique, aux fichiers et aux libertés, vous avez la possibilité, à tout moment, de
        désactiver les fonctions relatives à la géolocalisation.
      </p>
    </div>

    <h2>Collecte des données du terminal</h2>
    <h4>Collecte des données de profilage et des données techniques à des fins de fourniture du service</h4>
    <div class="sub-content">
      <p>
        Certaines des données techniques de votre appareil sont collectées automatiquement par le Site. Ces informations
        incluent notamment votre adresse IP, fournisseur d'accès à Internet, configuration matérielle, configuration
        logicielle, type et langue du navigateur... La collecte de ces données est nécessaire à la fourniture des
        services.
      </p>
    </div>

    <h4>Collecte des données techniques à des fins publicitaires, commerciales et statistiques
    </h4>
    <div class="sub-content">
      <p>
        Les données techniques de votre appareil sont automatiquement collectées et enregistrées par le Site, à des fins
        publicitaires, commerciales et statistiques. Ces informations nous aident à personnaliser et à améliorer
        continuellement votre expérience sur notre Site. Nous ne collectons ni ne conservons aucune donnée nominative
        (nom, prénom, adresse...) éventuellement attachée à une donnée technique. Les données collectées sont
        susceptibles d’être revendues à des tiers.
      </p>
    </div>

    <h2>Cookies</h2>
    <h4>Durée de conservation des cookies</h4>
    <div class="sub-content">
      <p>
        Conformément aux recommandations de la CNIL, la durée maximale de conservation des cookies est de 13 mois
        au maximum après leur premier dépôt dans le terminal de l'Utilisateur, tout comme la durée de la validité du
        consentement de l’Utilisateur à l’utilisation de ces cookies. La durée de vie des cookies n’est pas prolongée à
        chaque visite. Le consentement de l’Utilisateur devra donc être renouvelé à l'issue de ce délai.
      </p>
    </div>

    <h4>Finalité cookies</h4>
    <div class="sub-content">
      <p>
        Les cookies peuvent être utilisés pour des fins statistiques notamment pour optimiser les services rendus à
        l'Utilisateur, à partir du traitement des informations concernant la fréquence d'accès, la personnalisation des
        pages ainsi que les opérations réalisées et les informations consultées.
        Vous êtes informé que l'Éditeur est susceptible de déposer des cookies sur votre terminal. Le cookie enregistre
        des informations relatives à la navigation sur le service (les pages que vous avez consultées, la date et
        l'heure de
        la consultation...) que nous pourrons lire lors de vos visites ultérieures.
      </p>
    </div>

    <h4>Droit de l'Utilisateur de refuser les cookies</h4>
    <div class="sub-content">
      <p>
        Vous reconnaissez avoir été informé que l'Éditeur peut avoir recours à des cookies. Si vous ne souhaitez pas que
        des cookies soient utilisés sur votre terminal, la plupart des navigateurs vous permettent de désactiver les
        cookies
        en passant par les options de réglage.
      </p>
    </div>

    <h2>Conservation des données techniques</h2>
    <h4>Durée de conservation des données techniques</h4>
    <div class="sub-content">
      <p>
        Les données techniques sont conservées pour la durée strictement nécessaire à la réalisation des finalités
        visées ci-avant.
      </p>
    </div>

    <h2>Délai de conservation des données personnelles et d'anonymisation</h2>
    <h4>Conservation des données pendant la durée de la relation contractuelle</h4>
    <div class="sub-content">
      <p>
        Conformément à l'article 6-5° de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux
        libertés, les données à caractère personnel faisant l'objet d'un traitement ne sont pas conservées au-delà du
        temps nécessaire à l'exécution des obligations définies lors de la conclusion du contrat ou de la durée
        prédéfinie de la relation contractuelle.
      </p>
    </div>

    <h4>Conservation des données anonymisées au delà de la relation contractuelle / après la suppression du
      compte</h4>
    <div class="sub-content">
      <p>
        Nous conservons les données personnelles pour la durée strictement nécessaire à la réalisation des finalités
        décrites dans les présentes CGU. Au-delà de cette durée, elles seront anonymisées et conservées à des fins
        exclusivement statistiques et ne donneront lieu à aucune exploitation, de quelque nature que ce soit.
      </p>
    </div>

    <h4>Suppression des données après suppression du compte</h4>
    <div class="sub-content">
      <p>
        Des moyens de purge de données sont mis en place afin d'en prévoir la suppression effective dès lors que la
        durée de conservation ou d'archivage nécessaire à l'accomplissement des finalités déterminées ou imposées est
        atteinte. Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux
        libertés, vous disposez par ailleurs d'un droit de suppression sur vos données que vous pouvez exercer à tout
        moment en
        prenant contact avec l'Éditeur.
      </p>
    </div>

    <h4>Suppression des données après 3 ans d'inactivité</h4>
    <div class="sub-content">
      <p>
        Pour des raisons de sécurité, si vous ne vous êtes pas authentifié sur le Site pendant une période de trois ans,
        vousrecevrez un e-mail vous invitant à vous connecter dans les plus brefs délais, sans quoi vos données seront,
        recevrez un e-mail vous invitant à vous connecter dans les plus brefs délais, sans quoi vos données seront
        supprimées de nos bases de données.
      </p>
    </div>

    <h2>Suppression du compte</h2>
    <h4>Suppression du compte à la demande</h4>
    <div class="sub-content">
      <p>
        L'Utilisateur a la possibilité de supprimer son Compte à tout moment, par simple demande à l'Éditeur OU par le
        menu de suppression de Compte présent dans les paramètres du Compte le cas échéant.
      </p>
    </div>

    <h4>Suppression du compte en cas de violation des CGU</h4>
    <div class="sub-content">
      <p>
        En cas de violation d'une ou de plusieurs dispositions des CGU ou de tout autre document incorporé aux
        présentes par référence, l'Éditeur se réserve le droit de mettre fin ou restreindre sans aucun avertissement
        préalable et à sa seule discrétion, votre usage et accès aux services, à votre compte et à tous les Sites.
      </p>
    </div>


    <h2>Indications en cas de faille de sécurité décelée par l'Éditeur</h2>
    <h4>Information de l'Utilisateur en cas de faille de sécurité</h4>
    <div class="sub-content">
      <p>
        Nous nous engageons à mettre en oeuvre toutes les mesures techniques et organisationnelles appropriées afin de
        garantir un niveau de sécurité adapté au regard des risques d'accès accidentels, non autorisés ou illégaux, de
        divulgation, d'altération, de perte ou encore de destruction des données personnelles vous concernant. Dans
        l'éventualité où nous prendrions connaissance d'un accès illégal aux données personnelles vous concernant
        stockées sur nos serveurs ou ceux de nos prestataires, ou d'un accès non autorisé ayant pour conséquence la
        réalisation des risques identifiés ci-dessus, nous nous engageons à :</p>
      <ul>
        <li>Vous notifier l'incident dans les plus brefs délais ; </li>
        <li>Examiner les causes de l'incident et vous en informer ;</li>
        <li>Prendre les mesures nécessaires dans la limite du raisonnable afin d'amoindrir les effets négatifs et
          préjudices pouvant résulter dudit incident</li>
      </ul>
    </div>

    <h4>Limitation de la responsabilité</h4>
    <div class="sub-content">
      <p>
        En aucun cas les engagements définis au point ci-dessus relatifs à la notification en cas de faille de sécurité
        ne peuvent être assimilés à une quelconque reconnaissance de faute ou de responsabilité quant à la survenance de
        l'incident en question.
      </p>
    </div>

    <h2>Transfert des données personnelles à l'étranger</h2>
    <h4>Pas de transfert en dehors de l'Union européenne</h4>
    <div class="sub-content">
      <p>
        L'Éditeur s'engage à ne pas transférer les données personnelles de ses Utilisateurs en dehors de l'Union
        européenne.
      </p>
    </div>

    <h2>Modification des CGU et de la politique de confidentialité</h2>
    <h4>En cas de modification des présentes CGU, engagement de ne pas baisser le niveau de confidentialité de
      manière substantielle sans l'information préalable des personnes concernées</h4>
    <div class="sub-content">
      <p>
        Nous nous engageons à vous informer en cas de modification substantielle des présentes CGU, et à ne pas baisser
        le niveau de confidentialité de vos données de manière substantielle sans vous en informer et obtenir votre
        consentement.
      </p>
    </div>

    <h2>Droit applicable et modalités de recours</h2>
    <h4>Clause d'arbitrage</h4>
    <div class="sub-content">
      <p>
        Vous acceptez expressément que tout litige susceptible de naître du fait des présentes CGU, notamment de son
        interprétation ou de son exécution, relèvera d'une procédure d'arbitrage soumise au règlement de la plateforme
        d'arbitrage choisie d'un commun accord, auquel vous adhérerez sans réserve.
      </p>
    </div>

    <h2>Portabilité des données</h2>
    <div class="sub-content">
      <p>
        L'Éditeur s'engage à vous offrir la possibilité de vous faire restituer l'ensemble des données vous concernant
        sur simple demande. L'Utilisateur se voit ainsi garantir une meilleure maîtrise de ses données, et garde la
        possibilité de les réutiliser. Ces données devront être fournies dans un format ouvert et aisément réutilisable.
      </p>
    </div>

  </div>
</ion-content>