<ion-header>
    <ion-toolbar>
        <div class="topbar">
            <ion-back-button></ion-back-button>
            <ion-title>Profil</ion-title>
            <div style=float:right;>
                <ion-button fill="clear">
                    <ion-icon name="pencil-outline" slot="end"></ion-icon>
                </ion-button>
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="userContainer" *ngIf="user">
        <h3>
            {{ user.firstname }}
            {{ user.lastname | uppercase }}
        </h3>
        <p>
            {{ user.pseudo }}
        </p>

        <ion-segment (ionChange)="segmentChanged($event)" value="informationSegment">

            <ion-segment-button value="informationSegment">
                Information
            </ion-segment-button>
            <ion-segment-button value="animalSegment">
                Animaux
            </ion-segment-button>
        </ion-segment>


        <div [ngSwitch]="selectedSegment">

            <ion-card *ngSwitchCase="'informationSegment'">
                <ion-list>
                    <ion-item>
                        <ion-icon mode="md" name="at" color="medium"></ion-icon>
                        <ion-label>{{ user.email | lowercase }} </ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-icon mode="md" name="call" color="medium"></ion-icon>
                        <ion-label>{{ user.phone }}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-icon mode="md" name="notifications" color="medium"></ion-icon>
                        <ion-label>Notifications
                            <p>{{ user.push_notification ? 'oui' : 'non' }}</p>
                        </ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-icon mode="md" name="notifications" color="medium"></ion-icon>
                        <ion-label>Géolocalisation
                            <p>{{ user.active_localisation ? 'oui' : 'non' }}</p>
                        </ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-icon mode="md" name="at" color="medium"></ion-icon>
                        <ion-label>{{ user.birthday }}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-icon mode="md" name="male-female-outline" color="medium"></ion-icon>
                        <ion-label>{{ user.fk_id_gender }}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card *ngSwitchCase="'animalSegment'">
                <ion-button mode="md" fill="clear" size="small" id="cgu-button"[routerLink]="'/create-animal'">
                    Ajouter un animal
                </ion-button>
            </ion-card>
        </div>
    </div>
    <div *ngIf="!user">
        Aucune information a afficher.
    </div>

    <ion-button routerLink="" (click)="logout()">
        logout
    </ion-button>
</ion-content>
