<ion-header>
    <ion-toolbar>
        <div class="topbar">
            <ion-back-button></ion-back-button>
        <ion-title>{{ 'PROFILE.TITLE' | translate }}</ion-title>
        <ion-buttons slot="end">
                <ion-button fill="clear" routerLink="/edit-profile">
                    <ion-icon name="pencil-outline" slot="end"></ion-icon>
                </ion-button>
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" edge *ngIf="this.selectedSegment == 'animalSegment'">
        <ion-fab-button [routerLink]="'create-animal'">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div class="userContainer" *ngIf="user">
        <h3>
            {{ user.firstname }}
            {{ user.lastname | uppercase }}
        </h3>
        <p>
            {{ user.pseudo }}
        </p>

        <ion-segment (ionChange)="segmentChanged($event)" value="informationSegment" style="margin: unset; border-bottom-left-radius: 0;border-bottom-right-radius: 0">

            <ion-segment-button value="informationSegment">
                {{ 'PROFILE.INFORMATIONS' | translate }}
            </ion-segment-button>
            <ion-segment-button value="animalSegment">
                {{ 'PROFILE.ANIMALS' | translate }}
            </ion-segment-button>
        </ion-segment>


        <div [ngSwitch]="selectedSegment">
            <ion-card *ngSwitchCase="'informationSegment'" style="margin: unset; border-top-left-radius: 0;border-top-right-radius: 0">
                <ion-list>
                    <ion-item>
                        <ion-icon mode="md" name="at" color="medium"></ion-icon>
                        <ion-label>{{ user.email | lowercase }} </ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-icon mode="md" name="call" color="medium"></ion-icon>
                        <ion-label *ngIf="user.phone">{{ user.phone }}</ion-label>
                        <ion-label *ngIf="!user.phone">{{ 'PROFILE.N/A' | translate }}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-icon mode="md" name="gift" color="medium"></ion-icon>
                        <ion-label *ngIf="user.birthday">{{ user.birthday | date: 'dd/MM/yyyy à HH:mm' }}</ion-label>
                        <ion-label *ngIf="!user.birthday">{{ 'PROFILE.N/A' | translate }}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-icon mode="md" name="male-female-outline" color="medium"></ion-icon>
                        <ion-label *ngIf="user.gender">{{ user.gender.name }}</ion-label>
                        <ion-label *ngIf="!user.gender">{{ 'PROFILE.N/A' | translate }}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-icon mode="md" name="notifications" color="medium"></ion-icon>
                        <ion-label>{{ 'PROFILE.NOTIFICATIONS' | translate }}
                            <p>{{ user.push_notification ? 'PROFILE.ACTIVATED' : 'PROFILE.DEACTIVATED' | translate }}</p>
                        </ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-icon mode="md" name="location-outline" color="medium"></ion-icon>
                        <ion-label>{{ 'PROFILE.GEOLOCATION' | translate }}
                            <p>{{ user.active_localisation ? 'PROFILE.ACTIVATED' : 'PROFILE.DEACTIVATED' | translate }}</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card *ngSwitchCase="'animalSegment'" style="margin: unset; border-top-left-radius: 0;border-top-right-radius: 0">
                <ion-list>
                    <p style="margin: 16px">
                        {{ 'PROFILE.ANY_ANIMAL' | translate }}
                    </p>
                </ion-list>
            </ion-card>
        </div>
    </div>
    <div *ngIf="!user">
        {{ 'PROFILE.ANY_INFORMATIONS' | translate }}
    </div>

    <div class="button-center" *ngIf="this.selectedSegment == 'informationSegment'">
        <ion-button routerLink="" (click)="logout()">
            <ion-icon style="margin-right: 10px" name="log-out-outline"></ion-icon>
            {{ 'PROFILE.LOGOUT' | translate }}
        </ion-button>
    </div>
</ion-content>