<ion-header>
    <ion-toolbar>
        <ion-title>
            {{ 'FRIENDS.TITLE' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="friends.length > 0">
        <ion-item *ngFor="let friend of friends">
            <ion-col>
                <ion-row class="align-center">
                    <ion-col size="11" class="flex-row align-center" [routerLink]="'user/'+ friend.id">
                        <ion-avatar>
                            <img src="{{ friend.profile_pic_path }}">
                        </ion-avatar>
                        <div class="flex-column align-start">
                            <div>
                                <b>{{ friend.pseudo }}</b>
                                <ion-label *ngIf="friend.display_real_name && friend.friendOf">
                                    {{ friend.firstname}} {{ friend.lastname}}
                                </ion-label>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <ion-icon (click)="confirmChange(friend.id)" size="large"
                                  name="heart-dislike-circle-outline"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="friends.length == 0">
        <ion-item>
            {{ 'FRIENDS.ANY_FRIENDS' | translate }}
        </ion-item>
    </ion-list>
</ion-content>
