<ion-header>
    <ion-toolbar>
        <ion-title>
            {{ 'FRIENDS.TITLE' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="friends.length > 0">
        <ion-item *ngFor="let user of friends">
            <ion-col>
                <ion-row class="align-center">
                    <ion-col size="11" class="flex-row align-center">
                        <ion-avatar>
                            <img src="{{ user.profile_pic_path }}">
                        </ion-avatar>
                        <div class="flex-column align-start">
                            <div>
                                <b>{{ user.pseudo }}</b>
                                <ion-label
                                        *ngIf="user.display_real_name">{{ user.firstname}} {{ user.lastname}}</ion-label>
                            </div>
                            <div *ngIf="user.display_phone && user.phone">
                                <ion-icon class="information-icon" mode="md" name="call"></ion-icon>
                                {{ user.phone }}
                            </div>
                            <div *ngIf="user.display_email && user.email">
                                <ion-icon class="information-icon" mode="md" name="at"></ion-icon>
                                {{ user.email }}
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <ion-icon (click)="confirmChange(user.id)" size="large"
                                  name="heart-dislike-circle-outline"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="friends.length == 0">
        <ion-item>
            {{ 'FRIENDS.ANY_FRIENDS' | translate }}
        </ion-item>
    </ion-list>
</ion-content>
