<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="events">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Evènement</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Rencontres</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="#">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Messagerie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
