<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ 'LEGALS.TITLE' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main-content">
        <h1>Mentions légales</h1>
        <div class="sub-content">
            <p>
                Meetook, soucieuse des droits des individus, notamment au regarde des traitements automatisés et dans
                une volonté de transparence avec ses clients, a mis en place une politique reprenant l'ensemble de ces
                traitements, des finalités poursuivies par ces derniers ainsi que des moyens d’actions à la disposition
                des individus afin qu’il puissent au mieux exercer leurs droits.
            </p>
            <p>
                La poursuite de la navigation sur l’application et/ou le site vitrine valent acceptation sans réserve
                des dispositions et conditions d’utilisation qui suivent.
            </p>
        </div>

        <h4>Information administratives</h4>
        <div class="sub-content">
            <div>
                <ul>
                    <li>Dénomination sociale : Meetook</li>
                    <li>Siège social : 85 avenue du Général de Gaulle, 33 800 - Bordeaux France</li>
                    <li>Directeur Général : Flavien Martori</li>
                    <li>Chiffre d’affaire 2019 : 126 500 000 €</li>
                    <li>Forme juridique : Société par Actions Simplifiée</li>
                    <li>Numéro de téléphone : <a href="tel:01 85 64 37 85">01 85 64 37 85</a></li>
                    <li>Adresse e-mail : <a href="mailto:gouleypauline@live.fr?subject=PatPat Me">info@meetook.fr</a>
                    </li>
                </ul>
                <p>
                    PATPAT ME est hébergé par Meetook.
                </p>
            </div>
        </div>


        <h4>Création du site vitrine et de l’application</h4>
        <div class="sub-content">
            <p>
                Entreprise De’VLP
            </p>
        </div>

        <h4>Accès à l’application PatPat Me</h4>
        <div class="sub-content">
            <p>
                L’accès à l’application et son utilisation sont réservés à un usage strictement personnel. Vous vous
                engagez à ne pas utiliser cette application et les informations ou données qui y figurent à des fins
                commerciales, politiques, publicitaires et pour toute forme de sollicitation commerciale et notamment
                l’envoie de mail ou de SMS non sollicités.<br>
                Pour s'inscrire l’internaute doit fournir des données personnelles volontairement afin d’accéder à toute
                les fonctionnalités de l’application.
            </p>
        </div>

        <h4>Contenue de l’application</h4>
        <div class="sub-content">
            <p>
                Toutes les marques, photographies, textes, commentaires, illustrations, images animées ou non, séquences
                vidéo, sons qui pourraient être utilisées pour faire fonctionner cette application ou ce site vitrine et
                plus généralement tous les éléments reproduits ou utilisés sur l’applications ont protégés par les lois
                en vigueur au titre de la propriété intellectuelle.<br>
                Ils sont la propriété pleine et entière de l'éditeur ou de ses partenaires. Toute reproduction,
                représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces
                éléments, y compris les applications informatiques, sans l'accord préalable et écrit de l'éditeur, sont
                strictement interdites.
            </p>
        </div>


        <h4>Gestion de l’application</h4>
        <div class="sub-content">
            <p>
                Pour la bonne gestion de l’application, l’éditeur pourra à tout moment :
            </p>
            <ul>
                <li>
                    suspendre, interrompre ou limiter l'accès à tout ou partie de l’application, réserver l'accès à
                    l’application, ou à certaines parties de l’application, à une catégorie déterminée d'internautes.
                </li>
                <li>
                    supprimer toute informations pouvant en perturber le fonctionnement ou entrant en contravention avec
                    les lois nationales ou internationales.
                </li>
                <li>
                    suspendre le site vitrine ou l’application afin de procéder à des mises à jours.
                </li>
                <li>
                    supprimer le compte d’un utilisateur si ce dernier ne respecte pas les conditions d’utilisations.
                </li>
            </ul>
        </div>

        <h4>Traitement des données personnelles</h4>
        <div class="sub-content">
            <p>
                Une donnée à caractère personnel désigne toute information concernant une personne physique identifiée
                ou identifiable.<br>
                Les informations que nous sommes amenés à recueillir proviennent de l’enregistrement volontaire de
                l’utilisateur.<br>
                Ces informations ne sont jamais communiquées à des tiers.
            </p>

            <p>
                Pour toute information complémentaire sur la protection des données personnelles, nous vous invitons à
                consulter le site de <a href="https://cnil.fr">la CNIL</a>.
            </p>
        </div>

        <h4>Droit d’accès, de modification et de suppression</h4>
        <div class="sub-content">
            <p>
                Les articles 26 et 34 à 36 de la loi informatique et libertés du 6 janvier 1978 modifiée, vous
                permettent à tout moment d’exercer vos droits.
            </p>

            <p>
                Pour exercer ces droits merci de contacter Meetook à l’adresse mail suivante : <br>
                <a href="mailto:gouleypauline@live.fr?subject=PatPat Me">info@meetook.fr</a><br>
                Ou par courrier postal à l’adresse suivante :<br>
                Service Réclamation - MEETOOK<br>
                85 avenue du Général de Gaulle, 33 800 - Bordeaux 
            </p>

            <p>
                Les utilisateurs peuvent aussi introduire une réclamation auprès de la CNIL sur le site de
                <a href="https://cnil.fr">la CNIL</a>
            </p>

            <p>
                Nous vous recommandons de <a href="mailto:gouleypauline@live.fr?subject=PatPat Me">nous contacter</a>
                dans un premier temps avant de déposer une réclamation auprès de
                <a href="https://cnil.fr">la CNIL</a>, car nous sommes à votre entières disposition pour régler votre
                problème.
            </p>
        </div>

        <h4>Politique de conservation des données</h4>
        <div class="sub-content">
            <p>
                L’application conserve vos données pour la durée nécessaire pour vous fournir ses services ou son
                assistance.<br>
                Dans la mesure raisonnablement nécessaire ou requise pour satisfaire aux obligations légales ou
                réglementaires, régler des litiges, empêcher les fraudes et abus ou appliquer nos modalités et
                conditions, nous pouvons également conserver certaines de vos informations si nécessaire, même après que
                vous ayez fermé votre compte ou que nous n'ayons plus besoin pour vous fournir nos services.
            </p>
        </div>

        <h4>Responsabilités</h4>
        <div class="sub-content">
            <p>
                La responsabilité de Meetook ne peut être engagée en cas de défaillance, panne, difficulté ou
                interruption de fonctionnement, empêchant l’accès au site ou à une de ses fonctionnalités.<br>
                Le matériel de connexion au site que vous utilisez est sous votre entière responsabilité. Vous devez
                prendre toutes les mesures appropriées pour protéger votre matériel et vos propres données notamment
                d'attaques virales par Internet. Vous êtes par ailleurs seul responsable des sites et données que vous
                consultez.<br>
                L'éditeur n'est pas responsable des dommages causés à vous-même, à des tiers et/ou à votre équipement du
                fait de votre connexion ou de votre utilisation de l’application et vous renoncez à toute action contre
                lui de ce fait.<br>
                Si l'éditeur venait à faire l'objet d'une procédure amiable ou judiciaire en raison de votre utilisation
                de l’application, il pourra se retourner contre vous pour obtenir l'indemnisation de tous les
                préjudices, sommes, condamnations et frais qui pourraient découler de cette procédure.
            </p>
        </div>

        <h4>Loi applicable</h4>
        <div class="sub-content">
            <p>
                Les présentes conditions d’utilisation de l'application sont régies par la loi française et soumises à
                la compétence des tribunaux du sièges social de Meetook, sous réserve d’un attribution de compétence
                spécifique découlant d’un texte de loi.
            </p>
        </div>
    </div>
</ion-content>
