<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button mode="md" [routerLink]="'/login'" fill="clear" size="small" id="cgu-button">
    login
  </ion-button>

  <ion-button mode="md" [routerLink]="'/account-create'" fill="clear" size="small">
    Créer un compte
  </ion-button>

  <!-- ATTENTION CETTE PARTIE EST A METTRE DANS USER SEGMENT ANIMAL -->
  <ion-button mode="md" [routerLink]="'/create-animal'" fill="clear" size="small">
    Ajouter un animal
  </ion-button>

</ion-content>
