<ion-content class="create-account-content">

    <div id="logo-container">
        <img class="create-account-img" src="/assets/images/logo-text.png">
    </div>

    <div class="form-container">
        <h2>{{ 'CONNEXION.TITLE' | translate }}</h2>

        <form *ngIf="loginForm" [formGroup]="loginForm" (keyup.enter)="login()">

            <ion-list>
                <ion-item mode="md">
                    <ion-label position="floating">{{ 'CONNEXION.EMAIL' | translate }}</ion-label>
                    <ion-input type="text" formControlName="email">
                    </ion-input>
                    <ion-icon mode="md" slot="start" name="at" class="ion-align-self-end"></ion-icon>
                    <ion-icon *ngIf="emailInputError" mode="md" slot="end" name="alert-circle-outline"
                              class="ion-align-self-end error-message"
                              (click)="presentToast('email')"></ion-icon>
                </ion-item>

                <ion-item mode="md">
                    <ion-label position="floating">{{ 'CONNEXION.PASSWORD' | translate }}</ion-label>
                    <ion-input [type]="passwordInputType" formControlName="password" maxlength="32">
                    </ion-input>
                    <ion-icon mode="md" slot="start" name="key" class="ion-align-self-end"></ion-icon>
                    <ion-icon *ngIf="passwordInputError" mode="md" slot="end"
                              name="alert-circle-outline" class="ion-align-self-end error-message"
                              (click)="presentToast('password')"></ion-icon>
                    <ion-icon (click)="changePasswordView()" mode="md" slot="end"
                              name="{{ passwordIcon }}" class="ion-align-self-end"></ion-icon>
                </ion-item>
            </ion-list>
        </form>

        <div class="button-center">
            <ion-button slot="end" class="validation-button"
                        (click)="login()">{{ 'CONNEXION.CONNEXION' | translate }}</ion-button>
        </div>

        <div class="button-center">
            <p>{{ 'CONNEXION.ANY_ACCOUNT' | translate }}<a
                    [routerLink]="'/account-create'">{{ 'CONNEXION.CREATE' | translate }}</a></p>
        </div>
    </div>
</ion-content>
