<ion-header>
  <ion-toolbar>
    <ion-title>Mettre à jour son animal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">

    <form [formGroup]="updateAnimalForm" (keyup.enter)="submit()">

      <ion-list>

        <ion-item mode="md">
          <ion-label position="floating">Nom</ion-label>
          <ion-input type="text" formControlName="name">
          </ion-input>
          <ion-icon mode="md" slot="start" name="person-outline"></ion-icon>
          <ion-icon *ngIf="nameInputError" mode="md" slot="end" name="alert-circle-outline"
            class="ion-align-self-end input-icon-margin error-message" (click)="presentToast('name')">
          </ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Anniversaire</ion-label>
          <ion-datetime formControlName="birthday" display-format="DD MMMM YYYY" pickerFormat="DD MMMM YYYY" mode="md"
            placeholder="Veuillez sélectionner une date">
          </ion-datetime>
          <ion-icon mode="md" slot="start" name="gift" class="ion-align-self-end input-icon-margin"></ion-icon>
          <ion-icon *ngIf="birthdayError" mode="md" slot="end" name="alert-circle-outline"
            class="ion-align-self-end input-icon-margin error-message" (click)="presentToast('birthday')">
          </ion-icon>
        </ion-item>

        <ion-item mode="md">
          <ion-select interface="popover" id="select-type" formControlName="fk_id_type"
            placeholder="Sélectionnez le type d'animal" (ionChange)="typeChange()">
            <ion-select-option *ngFor="let type of types" value="{{ type.name }}">
              {{ type.name }}
            </ion-select-option>
          </ion-select>
          <ion-icon mode="md" slot="start" name="paw-outline" class="ion-align-self-end input-icon-margin"></ion-icon>
          <ion-icon *ngIf="typeError" mode="md" slot="end" name="alert-circle-outline"
            class="ion-align-self-end input-icon-margin error-message" (click)="presentToast('fk_id_type')">
          </ion-icon>
        </ion-item>

        <ion-item mode="md">
          <ion-select interface="popover" id="select-breed" formControlName="fk_id_breed"
                      placeholder="Sélectionnez la race" disabled="{{ !isTypeSelected }}">
            <ion-select-option *ngFor="let breed of breedsToDisplay" value="{{ breed.name }}">
              {{ breed.name }}
            </ion-select-option>
          </ion-select>
          <ion-icon mode="md" slot="start" name="trail-sign-outline" class="ion-align-self-end input-icon-margin">
          </ion-icon>
          <ion-icon *ngIf="breedError" mode="md" slot="end" name="alert-circle-outline"
                    class="ion-align-self-end input-icon-margin error-message" (click)="presentToast('fk_id_breed')">
          </ion-icon>
        </ion-item>

        <ion-item mode="md">
          <ion-select interface="popover" id="select-gender" formControlName="fk_id_gender"
            placeholder="Sélectionnez le genre">
            <ion-select-option *ngFor="let gender of genders" value="{{ gender.name }}">
              {{ gender.name }}
            </ion-select-option>
          </ion-select>
          <ion-icon mode="md" slot="start" name="male-female-outline" class="ion-align-self-end input-icon-margin">
          </ion-icon>
          <ion-icon *ngIf="genderError" mode="md" slot="end" name="alert-circle-outline"
            class="ion-align-self-end input-icon-margin error-message" (click)="presentToast('fk_id_gender')">
          </ion-icon>
        </ion-item>

        <ion-item mode="md">
          <ion-select interface="popover" id="select-temper" formControlName="fk_id_temper"
            placeholder="Sélectionnez les traits de caractère" multiple="true">
            <ion-select-option *ngFor="let temper of tempers" value="{{ temper.name }}">
              {{ temper.name }}
            </ion-select-option>
          </ion-select>
          <ion-icon mode="md" slot="start" name="american-football-outline" class="ion-align-self-end input-icon-margin">
          </ion-icon>
          <ion-icon *ngIf="temperError" mode="md" slot="end" name="alert-circle-outline"
            class="ion-align-self-end input-icon-margin error-message" (click)="presentToast('fk_id_temper')">
          </ion-icon>
        </ion-item>
      </ion-list>

      <ion-button slot="end" class="submit-button" routerLink="/tabs/profil" (click)="submit()">Valider le formulaire</ion-button>
    </form>
  </div>
</ion-content>

