.userContainer {
  margin: 16px;
}

.information-icon {
  margin-right: 10px;
}

.remove-margin {
  margin: unset;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-avatar {
  background-color: #FEE8C7;
  margin-bottom: 16px;
}

ion-card {
  margin: unset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
