.event-name {
  margin-top: 8px;
}

.remove-margin {
  margin: unset;
}

ion-avatar {
  width: 75px;
  height: 75px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}
