#logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 45%;
    margin-top: 16px;
  }
}

.error-message {
  color: darkred;
}

.form-container {
  h2 {
    text-align: center;
  }

  ion-list {
    border-radius: 25px;
    padding-bottom: 0!important;
    padding-top: 0!important;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  .checkbox {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 16px;
    letter-spacing: 0.1px;
    display: flex;
    ion-label {
      margin-left: 10px;
    }
  }
}

.submit-button {
}

@media (min-width: 820px) {
  img {
    width: 20%!important;
    margin-top: 8px;
  }

  .form-container {
    padding-left: 25%;
    padding-right: 25%;
  }

  #login-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    #cesam-login-container {
      width: 500px;
      max-width: 500px;
      height: 600px;
      margin: 0 auto;
      border: 1px solid var(--ion-color-light-shade);
      border-radius: 16px;
    }
  }
}
