<ion-content class="create-account-content">

    <div id="logo-container">
        <img class="create-account-img" src="/assets/images/logo-text.png">
    </div>

    <div class="form-container">
        <h2>{{ 'ACCOUNT_CREATE.TITLE' | translate }}</h2>

        <!--        <div class="button-center">-->
        <!--            <ion-button fill="clear" id="google" style="color:#5d4d4c;">-->
        <!--                <ion-icon mode="md" slot="start" name="logo-google"></ion-icon>-->
        <!--            </ion-button>-->
        <!--            <ion-button fill="clear" id="facebook" style="color:#5d4d4c;">-->
        <!--                <ion-icon mode="md" slot="start" name="logo-facebook"></ion-icon>-->
        <!--            </ion-button>-->
        <!--        </div>-->

        <form *ngIf="createPersonForm" [formGroup]="createPersonForm" (keyup.enter)="submit()">

            <ion-list>
                <ion-item mode="md">
                    <ion-label position="floating">{{ 'ACCOUNT_CREATE.PSEUDO' | translate }}</ion-label>
                    <ion-input type="text" formControlName="pseudo">
                    </ion-input>
                    <ion-icon mode="md" slot="start" name="person" class="ion-align-self-end">
                    </ion-icon>
                    <ion-icon *ngIf="pseudoInputError" mode="md" slot="end" name="alert-circle-outline"
                        class="ion-align-self-end error-message" (click)="presentToast('pseudo')">
                    </ion-icon>
                </ion-item>

                <ion-item mode="md">
                    <ion-label position="floating">{{ 'ACCOUNT_CREATE.PASSWORD' | translate }}</ion-label>
                    <ion-input [type]="'password'" formControlName="password" maxlength="32">
                    </ion-input>
                    <ion-icon mode="md" slot="start" name="key" class="ion-align-self-end"></ion-icon>
                    <!--                    <ion-button slot="end" class="ion-align-self-end"-->
                    <!--                                color="medium" fill="clear">-->
                    <!--                    </ion-button>-->
                    <ion-icon *ngIf="passwordInputError || passwordSecurityError" mode="md" slot="end"
                        name="alert-circle-outline" class="ion-align-self-end error-message"
                        (click)="presentToast('password')"></ion-icon>
                </ion-item>

                <ion-item mode="md">
                    <ion-label position="floating">{{ 'ACCOUNT_CREATE.EMAIL' | translate }}</ion-label>
                    <ion-input type="text" formControlName="email">
                    </ion-input>
                    <ion-icon mode="md" slot="start" name="at" class="ion-align-self-end"></ion-icon>
                    <ion-icon *ngIf="emailInputError" mode="md" slot="end" name="alert-circle-outline"
                        class="ion-align-self-end error-message" (click)="presentToast('email')">
                    </ion-icon>
                </ion-item>

                <ion-row>
                    <ion-col col-6>
                        <ion-item mode="md">
                            <ion-label position="floating">{{ 'ACCOUNT_CREATE.LASTNAME' | translate }}</ion-label>
                            <ion-input type="text" formControlName="lastname">
                            </ion-input>
                            <ion-icon mode="md" slot="start" name="finger-print-outline"
                                class="ion-align-self-end"></ion-icon>
                            <ion-icon *ngIf="lastnameInputError" mode="md" slot="end" name="alert-circle-outline"
                                class="ion-align-self-end error-message"
                                (click)="presentToast('lastname')"></ion-icon>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="md">
                            <ion-label position="floating">{{ 'ACCOUNT_CREATE.FIRSTNAME' | translate }}</ion-label>
                            <ion-input type="text" formControlName="firstname">
                            </ion-input>
                            <ion-icon *ngIf="firstnameInputError" mode="md" slot="end" name="alert-circle-outline"
                                class="ion-align-self-end error-message"
                                (click)="presentToast('firstname')"></ion-icon>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-item mode="md">
                    <ion-select interface="popover" id="select-gender" formControlName="fk_id_gender"
                                placeholder="{{ 'ACCOUNT_CREATE.GENDER' | translate }}">
                        <ion-select-option *ngFor="let gender of genders" value="{{ gender.name }}">
                            {{ gender.name }}
                        </ion-select-option>
                    </ion-select>
                    <ion-icon mode="md" slot="start" name="male-female-outline"
                        class="ion-align-self-end"></ion-icon>
                </ion-item>

                <ion-item mode="md">
                    <ion-label position="floating">{{ 'ACCOUNT_CREATE.PHONE' | translate }}</ion-label>
                    <ion-input type="tel" formControlName="phone">
                    </ion-input>
                    <ion-icon mode="md" slot="start" name="call" class="ion-align-self-end">
                    </ion-icon>
                    <ion-icon *ngIf="phoneInputError" mode="md" slot="end" name="alert-circle-outline"
                        class="ion-align-self-end error-message" (click)="presentToast('phone')">
                    </ion-icon>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">{{ 'ACCOUNT_CREATE.BIRTHDAY' | translate }}</ion-label>
                    <ion-datetime formControlName="birthday"
                                  display-format="DD MMMM YYYY" pickerFormat="DD MMMM YYYY" mode="md"
                                  placeholder="{{ 'ACCOUNT_CREATE.SELECT_DATE' | translate }}">
                    </ion-datetime>
                    <ion-icon mode="md" slot="start" name="gift" class="ion-align-self-end">
                    </ion-icon>
                </ion-item>

            </ion-list>

            <div class="checkbox">
                <ion-checkbox formControlName="push_notification" checked="false"></ion-checkbox>
                <ion-label>{{ 'ACCOUNT_CREATE.PUSH' | translate }}</ion-label>
            </div>

            <div class="checkbox">
                <ion-checkbox formControlName="active_localisation" checked="false"></ion-checkbox>
                <ion-label>{{ 'ACCOUNT_CREATE.GEOLOC' | translate }}</ion-label>
            </div>

            <div class="checkbox">
                <ion-checkbox formControlName="display_real_name" checked="false"></ion-checkbox>
                <ion-label>{{ 'ACCOUNT_CREATE.DISPLAY_NAME' | translate }}</ion-label>
            </div>
        </form>

        <div class="button-center">
            <ion-button slot="end" class="validation-button" (click)="submit()">{{ 'ACCOUNT_CREATE.SUBMIT' | translate }}</ion-button>
        </div>

        <div class="button-center">
            <p>{{ 'ACCOUNT_CREATE.ALREADY_ACCOUNT' | translate }}<a [routerLink]="'/login'">{{ 'ACCOUNT_CREATE.CONNEXION' | translate }}</a></p>
        </div>
    </div>
</ion-content>
