<ion-content class="create-account-content">

    <div id="logo-container">
        <img class="create-account-img" src="/assets/images/logo-text.png">
    </div>

    <div class="form-container">
        <h2>Inscription sur l'application</h2>

        <form *ngIf="createPersonForm" [formGroup]="createPersonForm" (keyup.enter)="submit()">

            <ion-list>
                <ion-item mode="md">
                    <ion-label position="floating">Pseudo</ion-label>
                    <ion-input type="text" formControlName="pseudo">
                    </ion-input>
                    <ion-icon mode="md" slot="start" name="person"
                              class="ion-align-self-end input-icon-margin"></ion-icon>
                    <ion-icon *ngIf="pseudoInputError" mode="md" slot="end" name="alert-circle-outline" class="ion-align-self-end input-icon-margin error-message" (click)="presentToast('pseudo')"></ion-icon>
                </ion-item>

                <ion-item mode="md">
                    <ion-label position="floating">Mot de passe</ion-label>
                    <ion-input [type]="'password'" formControlName="password" maxlength="32">
                    </ion-input>
                    <ion-icon mode="md" slot="start" name="key"
                              class="ion-align-self-end input-icon-margin"></ion-icon>
<!--                    <ion-button slot="end" class="ion-align-self-end"-->
<!--                                color="medium" fill="clear">-->
<!--                    </ion-button>-->
                    <ion-icon *ngIf="passwordInputError || passwordSecurityError" mode="md" slot="end" name="alert-circle-outline" class="ion-align-self-end input-icon-margin error-message" (click)="presentToast('password')"></ion-icon>
                </ion-item>

                <ion-item mode="md">
                    <ion-label position="floating">Adresse e-mail</ion-label>
                    <ion-input type="text" formControlName="mail">
                    </ion-input>
                    <ion-icon mode="md" slot="start" name="at" class="ion-align-self-end input-icon-margin"></ion-icon>
                    <ion-icon *ngIf="mailInputError" mode="md" slot="end" name="alert-circle-outline" class="ion-align-self-end input-icon-margin error-message" (click)="presentToast('mail')"></ion-icon>
                </ion-item>

                <ion-row>
                    <ion-col col-6>
                        <ion-item mode="md">
                            <ion-label position="floating">Nom</ion-label>
                            <ion-input type="text" formControlName="lastname">
                            </ion-input>
                            <ion-icon mode="md" slot="start" name="finger-print-outline"
                                      class="ion-align-self-end input-icon-margin"></ion-icon>
                            <ion-icon *ngIf="lastnameInputError" mode="md" slot="end" name="alert-circle-outline" class="ion-align-self-end input-icon-margin error-message" (click)="presentToast('lastname')"></ion-icon>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="md">
                            <ion-label position="floating">Prénom</ion-label>
                            <ion-input type="text" formControlName="firstname">
                            </ion-input>
                            <ion-icon *ngIf="firstnameInputError" mode="md" slot="end" name="alert-circle-outline" class="ion-align-self-end input-icon-margin error-message" (click)="presentToast('firstname')"></ion-icon>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-item mode="md">
                    <ion-select interface="popover" id="select-gender" formControlName="fk_id_gender"
                                placeholder="Sélectionnez un genre">
                        <ion-select-option *ngFor="let gender of genders" value="{{ gender.name }}">
                            {{ gender.name }}
                        </ion-select-option>
                    </ion-select>
                    <ion-icon mode="md" slot="start" name="male-female-outline"
                              class="ion-align-self-end input-icon-margin"></ion-icon>
                </ion-item>

                <ion-item mode="md">
                    <ion-label position="floating">Numéro de téléphone</ion-label>
                    <ion-input type="tel" formControlName="phone">
                    </ion-input>
                    <ion-icon mode="md" slot="start" name="call"
                              class="ion-align-self-end input-icon-margin"></ion-icon>
                    <ion-icon *ngIf="phoneInputError" mode="md" slot="end" name="alert-circle-outline" class="ion-align-self-end input-icon-margin error-message" (click)="presentToast('phone')"></ion-icon>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Date d'anniversaire</ion-label>
                    <ion-datetime formControlName="birthday"
                                  display-format="DD MMMM YYYY" pickerFormat="DD MMMM YYYY" mode="md"
                                  placeholder="Veuillez sélectionner une date">
                    </ion-datetime>
                    <ion-icon mode="md" slot="start" name="gift"
                              class="ion-align-self-end input-icon-margin"></ion-icon>
                </ion-item>

            </ion-list>

            <div class="checkbox">
                <ion-checkbox formControlName="push_notification" checked="false"></ion-checkbox>
                <ion-label>Notifications push</ion-label>
            </div>

            <div class="checkbox">
                <ion-checkbox formControlName="active_localisation" checked="false"></ion-checkbox>
                <ion-label>Activer la géolocalisation</ion-label>
            </div>

            <div class="checkbox">
                <ion-checkbox formControlName="display_real_name" checked="false"></ion-checkbox>
                <ion-label>Afficher le nom réel</ion-label>
            </div>
        </form>

        <div class="button-center">
            <ion-button slot="end" class="validation-button" (click)="submit()">Valider le formulaire</ion-button>
        </div>
    </div>
</ion-content>
