/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*********************/
/* Header and footer */
/*********************/

ion-header, ion-tab-bar {
  --ion-background-color: #E5BD80;
  --ion-border-color: none;
}

ion-tab-bar > ion-tab-button {
  color: #72480F;
}

ion-title {
  color: #72480F;
}

/*********************/
/***** Useful for ****/
/*** events filters **/
/*********************/

ion-toolbar {
  --ion-color-base: #E5BD80;
}

ion-checkbox {
  --background: #492F0B;
  --border-color-checked: #E5BD80;
  --background-checked: #FBF2E5;
  --checkmark-color: #D39841;
}

/*********************/
/**** Main content ***/
/*********************/

ion-content {
  --ion-background-color: #FBF2E5;
}

ion-content * {
  color: #72480F;
}

ion-item {
  --background: #FEE8C7;
}

ion-item * {
  color: #72480F !important;
}

ion-fab-button {
  margin-bottom: 40px;
  --ion-color-primary: #E5BD80;
}

ion-button { 
  --ion-color-primary: #E5BD80;
}

ion-segment-button {
  --ion-color-primary: #72480F;
}

ion-select {
  min-width: 100%;
}

.button-center {
  display: flex;
  justify-content: space-around;
}

.warning-card {
  --background: #fbf2e5;
}

.topbar {
  display: flex;
  flex-direction: row;
  text-align: center;
}

ion-list {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 16px;
  margin-top: 16px;
}

// Removing padding
.padding0 {
  padding: 0;
}

// Removing rounded border
.noRoundedBorder {
  border-radius: 0;
}

// Event banner
#balade-banner {
  background: url('/assets/images/event-type/balade.jpg') center;
  height: 150px;
  background-size: cover;
}

#rando-banner {
  background: url('/assets/images/event-type/rando.jpg') center;
  height: 150px;
  background-size: cover;
}

#jouer-banner {
  background: url('/assets/images/event-type/jouer.jpg') center;
  height: 150px;
  background-size: cover;
}

#concours-banner {
  background: url('/assets/images/event-type/concours.jpg') center;
  height: 150px;
  background-size: cover;
}

#picnic-banner {
  background: url('/assets/images/event-type/picnic.jpg') center;
  height: 150px;
  background-size: cover;
}

#plage-banner {
  background: url('/assets/images/event-type/plage.jpg') center;
  height: 150px;
  background-size: cover;
}

#default-banner {
  background: url('/assets/images/event-type/rando.jpg') center;
  height: 150px;
  background-size: cover;
}

// Quand l'écran fait plus de 820px (tablettes / grands téléphones / pc)
@media (min-width: 820px) {
  .create-account-img {
    width: 20% !important;
    margin-top: 8px;
  }

  .form-container {
    padding-left: 15%;
    padding-right: 15%;
  }

  .warning-card {
    margin-left: 10%;
    margin-right: 10%;
  }
}
