<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button mode="md" [routerLink]="'create'" fill="clear" size="small" id="cgu-button">
    Créer un événement
  </ion-button>

  <ion-button mode="md" [routerLink]="'/account-create'" fill="clear" size="small">
    Créer un compte
  </ion-button>
</ion-content>
