.error-message {
  color: darkred;
}

.form-container {
  h2 {
    text-align: center;
  }

  #geolocation-input {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
    padding: 8px 0;
    background: var(--ion-item-background, var(--ion-background-color, #fff));

    #geolocation-icon {
      margin-left: 20px;
      padding-right: 20px
    }
  }
}
