<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'EVENT_CREATE.TITLE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="warning-card">
        <ion-card-header>
            <ion-card-title>{{ 'EVENT_CREATE.WARNING.TITLE' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content [innerHTML]="translate.instant('EVENT_CREATE.WARNING.TEXT')"></ion-card-content>
    </ion-card>

    <div class="form-container">
        <form *ngIf="createEventForm" [formGroup]="createEventForm" (keyup.enter)="submit()">

            <ion-item mode="md">
                <ion-icon mode="md" slot="start" name="information-circle-outline" class="ion-align-self-start">
                </ion-icon>
                <ion-label position="floating">{{ 'EVENT_CREATE.NAME' | translate }}</ion-label>
                <ion-input type="text" formControlName="name">
                </ion-input>
                <ion-icon mode="md" *ngIf="nameError" slot="end" name="alert-circle-outline"
                    class="ion-align-self-end error-message" (click)="errorService.presentToast('event_name')">
                </ion-icon>
                <ion-icon mode="md" *ngIf="nameExistError" slot="end" name="alert-circle-outline"
                    class="ion-align-self-end error-message" (click)="errorService.presentToast('event_name_exist')">
                </ion-icon>
            </ion-item>

            <ion-item mode="md">
                <ion-label position="floating">{{ 'EVENT_CREATE.DESCRIPTION' | translate }}</ion-label>
                <ion-input type="text" formControlName="description">
                </ion-input>
                <ion-icon mode="md" slot="start" name="menu-outline" class="ion-align-self-end"></ion-icon>
                <ion-icon mode="md" *ngIf="descriptionError" slot="end" name="alert-circle-outline"
                    class="ion-align-self-end error-message" (click)="errorService.presentToast('event_description')">
                </ion-icon>
            </ion-item>

            <div id="geolocation-input">
                <ion-icon mode="md" slot="start" name="location-outline" id="geolocation-icon"
                    class="ion-align-self-center"></ion-icon>
                <app-places defaultLocation="{{ null }}" style="width: calc(100%);"></app-places>
                <ion-icon mode="md" *ngIf="locationError" slot="end" name="alert-circle-outline"
                    class="ion-align-self-center error-message" (click)="errorService.presentToast('event_location')">
                </ion-icon>
            </div>

            <ion-item mode="md">
                <ion-label position="floating">{{ 'EVENT_CREATE.DATE' | translate }}</ion-label>
                <ion-datetime formControlName="date" display-format="DD MMMM YYYY HH:mm"
                    pickerFormat="DD MMMM YYYY HH:mm" mode="md" min="{{ this.minDate }}" max="{{ this.maxDate }}"
                    placeholder="{{ 'EVENT_CREATE.SELECT_DATE' | translate }}">
                </ion-datetime>
                <ion-icon mode="md" slot="start" name="calendar-outline" class="ion-align-self-end"></ion-icon>
                <ion-icon mode="md" *ngIf="dateError" slot="end" name="alert-circle-outline"
                    class="ion-align-self-end error-message" (click)="errorService.presentToast('event_date')">
                </ion-icon>
            </ion-item>

            <ion-item mode="md">
                <ion-select interface="popover" id="select-type" formControlName="type"
                    placeholder="{{ 'EVENT_CREATE.TYPE' | translate }}">
                    <ion-select-option *ngFor="let type of types" value="{{ type.name }}">
                        {{ 'EVENT_TYPE.' + type.name | translate }}
                    </ion-select-option>
                </ion-select>
                <ion-icon mode="md" slot="start" name="paw-outline" class="ion-align-self-end"></ion-icon>
                <ion-icon mode="md" *ngIf="typeError" slot="end" name="alert-circle-outline"
                    class="ion-align-self-end error-message" (click)="errorService.presentToast('event_type')">
                </ion-icon>
            </ion-item>

            <div class="button-center">
                <ion-button slot="end" (click)="submit()">{{ 'EVENT_CREATE.SUBMIT' | translate }}</ion-button>
            </div>
        </form>
    </div>
</ion-content>
